@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap");

:root {
  --background: #e4e2dc;
  --foreground: #171717;
  --teal: #1aa599;
  --gold: #ffc165;
  --darkBrownTxt: #4A3C31;
  --lightBrownTxt: #8C7A6B;
  --beigeTxt: #e2e2e1;
  --brownBg: #575451;
  --lightBrownBg: #d0cbc5ea;
  --brownBgHover: #8c888591;
}

html {
  background-color: var(--background);
}

body {
  scroll-behavior: smooth;
}

