@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');



:root {
  --background: #f3f2ed;
  --foreground: #171717;
  --teal: #1AA599;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Naskh Arabic", 'Lateef', 'Arial';
  scroll-behavior: smooth;
}

.arabic {
  font-family: "Noto Naskh Arabic";
  line-height: 5rem;
  letter-spacing: 3px;
}

.translation {
  line-height: 3rem;
}